<!doctype html>
<html class="dark-mode" lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="imagex/png" href="/imagens/arvre.ico"/>
    <meta name="description" content="">
    <title>Agrotóxicos</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/blog/">

    

    <!-- Bootstrap core CSS -->
    <link href="/bscss/bootstrap.min.css" rel="stylesheet">
    <link href="/font/bootstrap-icons.css" rel="stylesheet">

    <style>

      .dark-mode {
        background-color: black;
        color: white;
      }
      .light-mode {
        background-color: white;
        color: black;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .textogostosao{
        color:white;
        font-style: italic;
      }

      .textogostoso{
        color:white;
      }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">
    <link href="/css/remediosus.css" rel="stylesheet">
  </head>
  <body> 
<!--<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-center align-items-center">
      <div class="col-4 pt-1">
      </div> 

      
      <div class="col-4 text-center">
        <a class="blog-header-logo text-success" href="#">AGROTÓXICOS</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <img src="/imagens/luaa.png" width="20" height="20" onclick="darkMode()"></button>
        <img src="/imagens/sol.png" width="20" height="20" onclick="lightMode()"></button>
        <script>
          function darkMode() {
            var element = document.body;
            var content = document.getElementById("DarkModetext");
            element.className = "dark-mode";
          }
          function lightMode() {
            var element = document.body;
            var content = document.getElementById("DarkModetext");
            element.className = "light-mode";
          }
        </script>
      </div>
    </div>-->
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-success" href="#">AGRO TÓXICOS</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <img src="/imagens/luaa.png" width="20" height="20" onclick="darkMode()"></button>
            <img src="/imagens/sol.png" width="20" height="20" onclick="lightMode()"></button>
            <script>
              function darkMode() {
                var element = document.body;
                var content = document.getElementById("DarkModetext");
                element.className = "dark-mode";
              }
              function lightMode() {
                var element = document.body;
                var content = document.getElementById("DarkModetext");
                element.className = "light-mode";
              }
            </script>
          </div>
        </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-info" href="#historia">História dos Agrotóxicos</a>  <!--Tipos de Agrotóxicos-->
      <a class="p-2 link-info" href="#oquesao">Sobre os Agrotóxicos</a>  <!--Agrotóxicos na agricultura-->
      <a class="p-2 link-info" href="#efeitos">Efeitos do uso e consumo</a>  <!--Classificação toxicológica-->
      <a class="p-2 link-info" href="#des&van">Vantagens e Desvantagens</a>
      <a class="p-2 link-info" href="#tipos">Tipos de Agrotóxicos</a>
      <a class="p-2 link-info" href="#classificacao">Classificações Toxicológicas</a>  <!--Agrotóxicos nos alimentos-->
      <a class="p-2 link-info" href="#alternativas">Alternativas ao uso</a>  <!--Agrotóxicos no Brasil-->
      <!--<a class="p-2 link-info" href="#">Vantagens e Desvantagens</a>-->  <!--Vantagens e Desvantagens-->
      <!--<a class="p-2 link-info" href="#">Resíduos Agrotóxicos</a>-->  <!--Resíduos Agrotóxicos-->
    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-success">
    <img src="/imagens/agrão2.jpg" class="img-fluid">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Agrotóxicos</h1>
      <p class="lead my-3">Agrotóxicos são os produtos e os agentes de processos físicos, químicos ou biológicos, destinados ao uso nos setores de produção...</p>
      <p class="lead mb-0"><a href="#oquesao" class="text-white fw-bold">Continue Lendo...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">Classificaçôes Toxicológicas</strong>
          <h3 class="mb-0">Toxicidade para os animais</h3>
          <div class="mb-1 text-muted">1 de Agosto de 2019</div>
          <p class="card-text mb-auto">Os agrotóxicos (pesticidas) podem se dividir em alguns tipos específicos...</p>
          <a href="#classificacao" class="p-2 link-info">Continue Lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">🐜🦗</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-info">Alternativas ao uso</strong>
          <h3 class="mb-0">Compostagem</h3>
          <div class="mb-1 text-muted">Abril 29</div>
          <p class="mb-auto">É um processo biológico que conta com a ação de micro-organismos...</p>
          <a href="#alternativas" class="p-2 link-info">Continue Lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">😃vs😟</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Pesquisa:
      </h3>

      <article class="blog-post" id="historia">
        <h2 class="blog-post-title">História</h2>
        <p class="blog-post-meta">by <a href="http://meioambiente.culturamix.com">CulturaMix</a></p>

        <p>Durante a Primeira Guerra Mundial os agrotóxicos foram criados, mas foram mais amplamente utilizados durante a Segunda Guerra Mundial como um tipo de arma química. Quando a guerra teve fim os produtos passaram a ser utilizados como defensivos agrícolas.</p>
        <!--<hr>-->
        <p>A história desses defensivos remonta a muitos anos, o primeiro agrotóxico que era composto orgânico DDT foi desenvolvido no ano de 1874 por Othomar Zeidler. Contudo foi somente em 1939 que Paul Muller percebeu que o composto poderia ser utilizado como um tipo de inseticida.</p>
        <!--<h2>Blockquotes</h2>
        <p>This is an example blockquote in action:</p>
        <blockquote class="blockquote">-->
        <hr>
        <p>O Nobel de Química</p>
        <!--</blockquote>-->
        <p>No ano de 1948 Paul Muller recebeu o Nobel de Química por ter descoberto e aplicado o DDT para combater insetos. O composto DDT era utilizado em larga escala para combater o inseto responsável por espalhar a malária. Porém, depois de algum tempo descobriu-se que assim como todos os outros compostos organoclorados, o DDT, é teratogênico, cancerígeno e se acumula no organismo.</p>
        <hr>
        <p>Os Agrotóxicos e a Indústria Química</p>
        <p>A indústria química ganhou impulso depois do fim da Segunda Guerra Mundial, pois os empresários dos países que venceram o conflito resolveram investir nela para expandir os seus negócios. Como nesse momento histórico os europeus estavam passando fome devido a falta de alimentos foi criada a chamada “revolução verde”.</p>
        <p>O objetivo dessa revolução era promover a agricultura de forma fosse possível cultivar alimentos para quem tinha fome. No Brasil esse estímulo à agricultura chegou no meio da década de 60. A indústria do agrotóxico foi bastante beneficiada pelo fato de que o governo brasileiro impôs que o financiamento bancário para comprar semente somente seria concedido para quem fizesse também a compra de adubo e agrotóxico.</p>
      <article class="blog-post" id="oquesao">
        <h2 class="blog-post-title">O que são?</h2>
        <p class="blog-post-meta">by <a href="https://antigo.mma.gov.br/seguranca-quimica/gestao-das-substancias-quimicas/produtos-agrot%C3%B3xicos.html">MMA GOV</a></p>
  
        <p>Segundo a legislação os “Agrotóxicos são os produtos e os agentes de processos físicos, químicos ou biológicos, destinados ao uso nos setores de produção, no armazenamento e beneficiamento de produtos agrícolas, nas pastagens, na proteção de florestas, nativas ou implantadas, e de outros ecossistemas e também de ambientes urbanos, hídricos e industriais, cuja finalidade seja alterar a composição da flora ou da fauna, a fim de preservá-las da ação danosa de seres vivos considerados nocivos.”</p>

        <p>Ou seja, o termo agrotóxico contempla uma gama de produtos e elementos. De acordo com a própria legislação, microrganismos ou insetos, por exemplo, que são utilizados no controle biológico, são considerados agrotóxicos. </p>
          
        <p>Tudo isso porque esses produtos são submetidos a estudos toxicológicos antes de serem liberados para a utilização na agricultura, mesmo que não sejam considerados tóxicos.  Ainda assim, há uma preocupação com a segurança de tudo o que é utilizado nas lavouras.</p>

        <article class="blog-post" id="efeitos">
          <h2 class="blog-post-title">Efeitos</h2>
          <p class="blog-post-meta">by <a href="https://conseqconsultoria.com.br/impacto-do-uso-de-agrotoxicos/?gclid=Cj0KCQjwpcOTBhCZARIsAEAYLuU15EUTSiKC2dKIB1zY3OgKwj__Kyj7J48fLs-rWFVI7I5rRh5VOQYaAgslEALw_wcB   ">ConseqConsultoria</a></p>
          
          <hr>
          <p>Meio Ambiente</p>
          <p>A maior contaminação ocorre no próprio solo das plantações devido à aplicação direta nas plantas. Os componentes do agrotóxico chegam ao solo e consequentemente encontram águas subterrâneas ou chegam aos rios e lagos pelas águas da chuva. Com isso, se torna prejudicial para espécies marinhas e até mesmo para o reservatório de abastecimento de água dos municípios.</p>
          <p>Os agrotóxicos ao chegarem no solo, com o tempo, diminuem sua fertilidade, podendo ter impactos na própria lavoura. E, conforme o uso dos agrotóxicos é feito em grande escala, as pragas ganham resistência ao seu uso e os agricultores usam defensivos agrícolas cada vez mais fortes, o que aumenta o impacto.</p>

          <hr>
          <p>Saúde Humana</p>
          <p>Os agrotóxicos possuem efeitos biocidas, que tem objetivo de acabar com a vida de pragas. Como são formados por substâncias químicas e biológicas com esse intuito, apresentam certo risco ao público consumidor e também ao produtor.</p>
          <p>A contaminação pode ocorrer pelo contato com a pele, respiração ou até mesmo durante o consumo do produto. Seus efeitos variam muito por suas variedades de composição, porém, por terem foco em organismos vivos, podem gerar malefícios de diversas gravidades à saúde humana.</p>
          <p>Pode-se dividir esses efeitos em agudo e crônico, sendo o agudo mais momentâneo, após o contato, e o crônico mais temporário.</p>
          <p>O principal e mais maléfico efeito é pela contaminação na produção, onde as condições sanitárias e de segurança se fazem essenciais. Em áreas rurais simples pode haver uma falta de infraestrutura de aplicação e segurança no uso desses agrotóxicos.</p>
          <p>É muito importante para evitar esses efeitos a capacitação envolvida nos aplicadores desses agrotóxicos, conjuntamente dos que trabalham em contato indireto. Capacitação essa que deve estar ligada à infraestrutura de segurança, como o uso de EPIs adequados.</p>
          <p>Nas aplicações, os equipamentos de aplicação (como os pulverizadores) precisam estar em boas condições e serem aplicados em local seguro, longe de animais e crianças, por exemplo.  
            É importante ressaltar que essa capacitação é essencial quanto aos cuidados com agrotóxicos, de forma a deixar sempre claro o modo de uso para evitar misturas indevidas como também a aplicação de quantidades e em condições climáticas não ideais.
          </p>

          <article class="blog-post" id="des&van">
            <h2 class="blog-post-title">Vantagens e Desvantagens</h2>
            <p class="blog-post-meta">by <a href="https://brasilescola.uol.com.br/geografia/agrotoxicos.htm">BrasilEscola</a></p>
            <div class="table-responsive">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Vantagens</th>
                  <th scope="col">Desvantagens</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>"O uso de agrotóxicos em doses recomendadas garante o controle de possíveis pragas e doenças que podem afetar as produções agrícolas."</td>
                  <td>"A utilização de agrotóxicos é questionada por diversos órgãos da saúde, visto que está associada a problemas de saúde, como alterações cromossômicas, câncer de diversos tipos, doenças respiratórias, entre outras."</td>
                </tr>

                <tr>
                  <th scope="row">2</th>
                  <td>"O controle das doenças e pragas propicia o aumento da produtividade das lavouras e melhora a qualidade visual dos produtos cultivados."</td>
                  <td>"Utilizar o agrotóxico de maneira incorreta provoca danos ambientais, como contaminação do solo e dos recursos hídricos."</td>
                </tr>

                <tr>
                  <th scope="row">3</th>
                  <td>"Normalmente os preços dos produtos cultivados com o uso dos agrotóxicos são reduzidos em relação ao preço dos produtos orgânicos."</td>
                  <td>"Doses acima do permitido podem contaminar alimentos e trazer riscos à saúde."</td>
                </tr>
              </table>
            </div>
            
          <article class="blog-post" id="tipos">
            <h2 class="blog-post-title">Tipos de Agrotóxicos</h2>
            <p class="blog-post-meta">by <a href="https://brasilescola.uol.com.br/geografia/agrotoxicos.htm">BrasilEscola</a></p>
            <div class="table-responsive">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tipos</th>
                  <th scope="col">Função</th>
                  <th scope="col">Exemplos</th>
                  <th scope="col">Demonstração de um exemplo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Inseticidas</td>
                  <td>Combatem insetos</td>
                  <td>Aldrin, Carbofuran, Deltametrina...</td>
                  <td>
                    <p>Nome(IUPAC): Deltametrina ou (1R,3R)-3-(2,2-dibromoethenyl)-2,2-dimethyl-cyclopropane-1-carboxylate</p>
                    <p>Fórmula: C22H19Br2NO3</p>
                    <p>Funções Orgânicas: Haleto, éter, nitrila e éster</p>
                    <p>Aplicação: Prevenção de doenças ectoparasitas</p>
                    <p>Classificação Toxicológica: Classe I – Extremamente Tóxico – Cor Vermelha</p>
                    <p>Fórmula Estrutural:</p>
                    <img src="/imagens/wow1.png" class="img-fluid"></img>
                    <p>PUBCHEM estrutura 3D:</p>
                    <div style="border: solid 1px #ccc; width: 300px; max-width: 100%;"><iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/Deltamethrin#section=3D-Conformer&embed=true" style="border: 0; height: 700px;"></iframe></div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Fungicidas</td>
                  <td>Combatem fungos</td>
                  <td>Mancozeb, Binapacril, Brestam...</td>
                  <td>
                    <p>Nome(IUPAC): Binapacril ou (2-butan-2-il-4,6-dinitrofenil) 3-metilbut-2-enoato</p>
                    <p>Fórmula: C15H18N2O6</p>
                    <p>Funções Orgânicas: Éster e nitrocomposto </p>
                    <p>Aplicação: Controle químico de fungos</p>
                    <p>Classificação Toxicológica: Classe I – Extremamente Tóxico – Cor Vermelha</p>
                    <p>Fórmula Estrutural:</p>
                    <img src="/imagens/wow2.png" class="img-fluid"></img>
                    <p>PUBCHEM estrutura 3D:</p>
                    <div style="border: solid 1px #ccc; width: 300px; max-width: 100%;"><iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/Binapacryl#section=3D-Conformer&embed=true" style="border: 0; height: 700px;"></iframe></div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Herbicidas</td>
                  <td>Combatem ervas daninhas</td>
                  <td>Profam, Diquat, Diclobenil...</td>
                  <td>
                    <p>Nome(IUPAC): Diquat ou ion9,10-Di-hidro-8a,10a-diazoniafenantreno</p>
                    <p>Fórmula: C12H12N2+2</p>
                    <p>Funções Orgânicas: Imina</p>
                    <p>Aplicação: Controle das plantas infestantes em pós-emergência inicial</p>
                    <p>Classificação Toxicológica: Classe VI - Não Classificado - Cor Verde</p>
                    <p>Fórmula Estrutural:</p>
                    <img src="/imagens/wow3.png" class="img-fluid"></img>
                    <p>PUBCHEM estrutura 3D:</p>
                    <div style="border: solid 1px #ccc; width: 300px; max-width: 100%;"><iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/Diquat#section=3D-Conformer&embed=true" style="border: 0; height: 700px;"></iframe></div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Desfoliantes</td>
                  <td>Combatem folhas indesejadas</td>
                  <td>Paraquat e Dinoseb...</td>
                  <td>
                    <p>Nome(IUPAC): Dinoseb ou 2-sec-Butil-4,6-dinitrofenol</p>
                    <p>Fórmula: C10H12N2O5</p>
                    <p>Funções Orgânicas: Nitrocomposto e fenol</p>
                    <p>Aplicação: Dessecante e pode ser aplicado em área total na pré-emergência de espécies cultivadas e pós-emergência de plantas daninhas</p>
                    <p>Classificação Toxicológica: Classe I – Extremamente Tóxico – Cor Vermelha</p>
                    <p>Fórmula Estrutural:</p>
                    <img src="/imagens/wow4.png" class="img-fluid"></img>
                    <p>PUBCHEM estrutura 3D:</p>
                    <div style="border: solid 1px #ccc; width: 300px; max-width: 100%;"><iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/Dinoseb#section=3D-Conformer&embed=true" style="border: 0; height: 700px;"></iframe></div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Fumigantes</td>
                  <td>Combatem bactérias nos solos</td>
                  <td>Dazomet e Cloropicrina...</td>
                  <td>
                    <p>Nome(IUPAC): Cloropicrina ou Tricolo-nitro-metano</p>
                    <p>Fórmula: CCl3NO2</p>
                    <p>Funções Orgânicas: Nitrocomposto e Haleto de alquila</p>
                    <p>Aplicação: Neutralizador de pragas</p>
                    <p>Classificação Toxicológica: Classe I – Extremamente Tóxico – Cor Vermelha</p>
                    <p>Fórmula Estrutural:</p>
                    <img src="/imagens/wow5.png" class="img-fluid"></img>
                    <p>PUBCHEM estrutura 3D:</p>
                    <div style="border: solid 1px #ccc; width: 300px; max-width: 100%;"><iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/Chloropicrin#section=3D-Conformer&embed=true" style="border: 0; height: 700px;"></iframe></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <article class="blog-post" id="classificacao">
            <h2 class="blog-post-title">Classificações Toxicológicas</h2>
            <p class="blog-post-meta">by <a href="https://conseqconsultoria.com.br/uso-de-agrotoxicos/">ConseqConsultoria</a></p>
            <p>Os agrotóxicos (pesticidas) podem se dividir em alguns tipos específicos como: inseticidas, herbicidas, fumigantes, fungicidas, acaricidas, nematicidas, formicidas e etc.. Eles atuam fortemente como catalisadores do processo produtivo rural, uma vez que eles possuem uma grande variedade de substâncias químicas ou produtos biológicos e que são desenvolvidos de forma a potencializar uma ação biocida.</p>
            <p>Além disso, eles também são classificados de acordo com sua  toxicidade, segundo regulamentação da Agência Nacional de Vigilância Sanitária (ANVISA), sendo divididos em algumas classes: </p>
            <hr>
            <p>1. Toxicidade para os animais:  </p>
            <ul>
              <li>Classe I – Extremamente Tóxico – Cor Vermelha; </li>
              <li>Classe II – Altamente Tóxico – Cor Vermelha;</li>
              <li>Classe III – Medianamente Tóxico – Cor Amarela;</li>
              <li>Classe IV – Pouco Tóxico – Cor Azul; </li>
              <li>Classe V - Improvável de Causar Dano Agudo - Cor Azul;</li>
              <li>Classe VI - Não Classificado - Cor Verde.</li>

            </ul>
            <p>Essas etiquetas devem constar nos rótulos dos produtos, especificando os riscos que podem trazer à saúde. Para tal classificação, realizam-se não apenas testes relacionados a irritações na pele e nos olhos causados pela exposição aos produtos, como também estudos sobre riscos de câncer, mutações ou outras doenças graves. Uma vez que o produto apresente algum desses riscos, ele é invalidado e não pode ser registrado, muito menos comercializado. </p>
            <hr>
            <p>2. Toxicidade para o Meio Ambiente: </p>
            <p>Além da toxicidade para os animais, classificam-se os agrotóxicos de acordo com a toxicidade ao meio ambiente. São feitos testes de solubilidade em água, volatilidade, biodegradação de solos, entre outros, para classificar os defensivos agrícolas nas seguintes classes: </p>
            <ul>
              <li>Classe I – Produto Altamente Perigoso ao Meio Ambiente;</li>
              <li>Classe II – Produto Muito Perigoso ao Meio Ambiente; </li>
              <li>Classe III – Produto Perigoso ao Meio Ambiente; </li>
              <li>Classe IV – Produto Pouco Perigoso ao Meio Ambiente. </li>
            </ul>
            <p>Essa Classificação é feita pelo Instituto Brasileiro do Meio Ambiente e dos Recursos Renováveis (IBAMA). Ainda mais, além dos testes citados acima, analisa-se o efeito desses produtos em aves, abelhas, peixes e mamíferos no geral. </p>
            
            <article class="blog-post" id="alternativas">
              <h2 class="blog-post-title">Alternativas ao uso</h2>
              <p class="blog-post-meta">by <a href="https://www.jasminealimentos.com/alimentacao/agroecologia-alternativa-reducao-uso-agrotoxicos/">JasmineAlimentos</a></p>
              
              <p>Pensando nos riscos que o consumo desses produtos oferece à saúde e ao meio ambiente, foram desenvolvidos modelos de produção agrícola que dispensam o uso de aditivos químicos e valorizam o processo de produção orgânica, como é o caso da agroecologia.
              </p>
              <p>A agroecologia é um modelo de produção agrícola que se preocupa em manter a produtividade do solo a longo prazo e, para isso, utiliza de artifícios que mantenham a terra em condições férteis de produção para que ela possa ser reutilizada em novos plantios. Entre esses artifícios estão a compostagem, o uso de defensivos naturais, a rotação de culturas, a diversidade no plantio, entre outros.</p>

              <hr>
              <p>Compostagem</p>
              <p>É um processo biológico que conta com a ação de micro-organismos para transformar matérias orgânicas, como restos de comida, estrume e folhas, em um material que é parecido com o solo e pode ser utilizado com adubo.</p>

    
              <hr>
              <p>Defensivos Naturais</p>
              <p>São produtos naturais que ajudam a proteger as plantas do ataque de pragas, sem comprometer a qualidade dos alimentos e reduzindo os riscos de intoxicações.</p>


              <hr>
              <p>Rotação das culturas</p>
              <p>É a variação dos tipos de alimentos plantados em determinando solo. Diferente da monocultura, onde o solo é utilizado para plantar apenas soja, milho ou outro alimento, na rotação de culturas, o mesmo solo é utilizado para o plantio de diversos produtos.</p>

              <hr>
              <p>Diversidade no plantio</p>
              <p>Esse modelo se assemelha a horta caseira, onde o solo é utilizado para o plantio de diferentes alimentos ao mesmo tempo, criando uma diversidade de produtos em um único espaço e, consequentemente, enriquecendo o solo.</p>

              <hr>
              <p>Bioinsumos</p>
              <p>Produtos elaborados à base de bactérias, fungos, vírus e nematoides (vermes microscópios geralmente abundantes no solo. Esses compostos atuam exclusivamente sobre o organismo alvo, aquele que se quer combater, sem impactar diretamente o meio ambiente e a saúde humana.</p>

      <nav class="blog-pagination" aria-label="Pagination">
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-success rounded">
          <h4 class="textogostosao" class="fst-italic">Sobre nós</h4>
          <p class="textogostoso" class="mb-0">Somos estudantes do Instituto Federal do Mato Grosso do Sul(IFMS), da turma 229A, cursando o 5° Semestre integrado em Informática.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Links adicionais</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="/aboutus">QUEM SOMOS</a></li>
            <li><a href="/deez">???</a></li>
            <li><a href="https://www.youtube.com/watch?v=iik25wqIuFo">PRESENTE</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Redes Sociais</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/fabioluizfaria">GitHub</a></li>
            <li><a href="https://twitter.com/desertodl">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  
</main>

<footer class="blog-footer">
  <p> <a href="https://www.ifms.edu.br/">@IFMS</a>- 229A - 5° Semestre</p>
  <p>
    <a href="#">Voltar lá pra cima</a>
  </p>
</footer>


    
  </body>
</html>
